.widget {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  height: 45%;
  margin: 10px;
  background-color: var(--widgetColor);
}

.name {
  display: inline-block;
  color: var(--BlackColor);
  font: normal 36px "Roboto Mono", sans-serif;
}

.data {
  color: var(--UltraBlackColor);
  font: bold 88px "Roboto Mono", sans-serif;
}

.average {
  color: var(--BlackColor);
  font: normal 26px "Roboto Mono", sans-serif;
}

@media only screen and (max-width: 992px) {
  .widget {
    flex: 1 1 300px;
    padding: 5px 0;
    height: auto;
  }

  .name,
  .average {
    font-size: 16px;
  }

  .data {
    font-size: 36px;
    margin: 10px 0;
  }
}
