.logo {
  margin: auto 35px;
  cursor: default;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  width: 100%;
  top: 0;
  left: 0px;
  color: var(--BlackColor);
  background-color: var(--HeaderColor);
  font: normal 36px "Reem Kufi", sans-serif;
}

.footer {
  position: absolute;
  width: 100%;
  color: var(--FooterColor);
  bottom: 10px;
  text-align: center;
  font: normal 14px "Roboto Mono", sans-serif;
  cursor: default;
  z-index: 1;
}

@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
  .logo {
    top: 10px;
    left: 10px;
  }

  .header {
    min-height: 40px;
    font: normal 16px "Reem Kufi", sans-serif;
  }

  .footer {
    font: normal 10px "Roboto Mono", sans-serif;
  }
}
