@import "Colors.css";

@font-face {
  font-family: "Roboto Mono";
  src: url("./fonts/RobotoMono.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Reem Kufi";
  src: url(./fonts/ReemKufi-Regular.ttf) format("truetype");
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--WhiteColor);
  overflow: hidden;
}

.App-logo {
  position: absolute;
  top: 30px;
  left: 35px;
}

.App-header {
  height: 10vh;
  width: 100%;
  margin-top: 0;
  color: var(--BlackColor);
  background-color: var(--HeaderColor);
  vertical-align: middle;
  padding-left: 10px;
  font: normal 36px "Reem Kufi", sans-serif;
}

.App-footer {
  position: fixed;
  width: 100%;
  color: var(--FooterColor);
  bottom: 10px;
  text-align: center;
  font: normal 14px "Roboto Mono", sans-serif;
}
