.App {
  text-align: center;
  background-color: darkgray;
  height: 700px;
  width: 700px;
}

.slider {
  width: 500px;
  height: 367px;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  scroll-snap-type: x mandatory;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

img {
  height: auto;
  flex: 0 0 500px;
  scroll-snap-align: start;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
